extends layout
block content
  h1 About Us
  p Joyful Kids Club (JKC) is an after school tutoring and enrichment program, we provide homework and study support group, diversify enrichment and interest classes for students from kindergarten  to 6th grade, in our 20,000 sq ft newly renovated facility in Pleasanton. We are a ministry under Crosspoint Church of Pleasanton. Our mission is to serve the families in Pleasanton, Dublin and San Ramon area.
  h2 Our Belief / Vision
  p We believe each child is an unique individual with potential to be explored and developed, while academic achievement is an important aspect to enable kids to do well in life, a child will excel when they are both physically and emotionally healthy.
  p We provide:
  li Personalized home work support in a low tutor to student ratio
  li Help to students in areas they need support and test preparation
  li Daily reading, math and language art practice to strengthen concepts and understanding
  li Academic enrichment classes to learn / strengthen specific skill
  p
  p We promote:
  li Students&apos; ownership and responsibility on their homework, yet ask for help when they need to
  li A place to build friendship, cultivate communication and interpersonal skill, characters and responsibility
  li Loving and caring staff, striving to know and understand each student
  li Diversify interest class to help kids develop their interest and potentials
  
  